@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplaymediu.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "NeueHaasDisplay";
  src: url("/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf")
    format("truetype");
  font-weight: 300;
  font-style: normal;
}

:root {
  --font-inter: "Inter", -apple-system, BlinkMacSystemFont, sans-serif;
  --bg: #000;
  --text: #ffffff;
  --shadow: #bfbfbf;
}

html::-webkit-scrollbar {
  display: none;
}
.parallax-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.landing-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  will-change: transform;
}

.overlay-center {
  position: absolute;
  inset: 0;
  display: flex;
  font-family: var(--font-inter) !important;
  font-size: clamp(2.5rem, 10vw, 8rem);
  font-weight: 90;
  letter-spacing: -0.02em;
  word-spacing: -0.05em;
  align-items: center;
  justify-content: center;
  color: white;
  line-height: 1;
  pointer-events: none;
  z-index: 2;
}

.parallax-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.2)
  );
  z-index: 1;
  pointer-events: none;
}

.fancy-title {
  font-size: clamp(2.5rem, 10vw, 8rem);
  font-weight: 700;
  letter-spacing: -5px;
  color: white;
  pointer-events: none;
  user-select: none;
  /* line-height: 1.2; */
  text-transform: none !important;
}

.fancy-title .part {
  display: inline-block;
  will-change: transform, opacity, filter;
  pointer-events: auto !important;
  filter: drop-shadow(0 0 0 #bfbfbf);
  transition: filter 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.fancy-title .weare-part {
  opacity: 1;
  transition: opacity 0.1s;
  pointer-events: none;
  filter: none;
}

.fancy-title .char {
  display: inline-block;
  will-change: transform, opacity;
}
