/* @import "tailwindcss";

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neuehaas), sans-serif;
}

* {
  font-family: var(--font-inter), sans-serif;
} */

/* @import "tailwindcss";

/* Make body transparent so the stars canvas becomes visible */
/* body {
  background: transparent !important;
  color: var(--foreground);
  font-family: var(--font-neuehaas), sans-serif;
}

/* Keep your font override */
/* * {
  font-family: var(--font-inter), sans-serif;
}   */

@import "tailwindcss";

body {
  background: transparent !important;
  color: var(--foreground);
  font-family: var(--font-neuehaas), sans-serif;
}

* {
  font-family: var(--font-inter), sans-serif;
}

html {
  overflow-x: hidden;
}

/* Mac + Windows dono pe left wala scrollbar gayab */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
