@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  background: transparent !important;
  font-family: var(--font-neuehaas), sans-serif;
}

* {
  font-family: var(--font-inter), sans-serif;
}

html {
  overflow-x: hidden;
}

/* Mac + Windows dono pe left wala scrollbar gayab */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
