@import "tailwindcss";

body {
  background: transparent !important;
  color: var(--foreground);
  font-family: var(--font-neuehaas), sans-serif;
}

* {
  font-family: var(--font-inter), sans-serif;
}
